.card {
    width: 200px;
    padding: 40px;

    
    h2 {
        color: var(--verylightgray);
        font-family: var(--fontbigshoulders);
        text-transform: uppercase;
    }

    p {
        color: var(--transparentwhite);
        font-size: 0.9rem;
        font-family: var(--fontlexend) !important;
    }
}